.wraper-card {
    position: relative;
    display: flex;
    margin: 10px;
    box-shadow: 0 0 3px 3px rgb(49, 49, 49);
    background-color: #333545;
    border-radius: 0.5rem;
    color: white;
    max-width: 663px;
    max-height: 310px;
    overflow: hidden;
    /* position: relative; */
}

.wraper-card > img {
    width: 200px;
    margin: 5px;
    height: 300px;
}

.wrapper-wishlist {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.wrap-wishlist-data {
    margin: 0 0 0 5px;
    overflow: hidden;
}

.remove-card-button{
    display: inline;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #F84464;
    border: 2px solid white;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 3px 7px;
}

.wishlist-title{
    margin: 10px 0 0 0;
}

.wishlist-rating{
    margin: 10px 0 0 0;
}

.wishlist-genre{
    margin: 10px 0 0 0;
    padding-left: 0;
}

.wishlist-overview{
    margin: 10px 0 0 0;
    overflow: hidden;
}

